.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  margin: 20px 20px 32px;
  border: 1px solid #a855f7;
}

.header-title {
  font-family: Orbitron, sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: #a855f7;
}

.header-subtitle {
  font-family: Oxanium, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  text-align: center;
  color: #fbbf24 !important;
  animation: pulse 2s infinite;
}

/* простой аналог animate-pulse */
@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;

  --tui-font-icon: 'Material Symbols Outlined';
}
.user-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 1rem;
  padding: 20px;
}
.user-name {
  font-size: 1.25rem;
  font-weight: 500;
}
