<header tuiHeader="h2" appearance="primary">
  <div class="header-box">
    <hgroup tuiTitle>
      <h2 class="header-title">
        {{ title }}
      </h2>
      <p tuiSubtitle class="header-subtitle">
        {{ subtitle }}
      </p>
    </hgroup>
    <div class="header-buttons">
      <button appearance="primary" size="s" tuiButton type="button">
        <tui-icon icon="@tui.languages" />
        ru
      </button>
      <button
        appearance="primary"
        iconStart="@tui.moon"
        size="s"
        tuiIconButton
        type="button"
        [style.border-radius.%]="100"
      >
        dark
      </button>
    </div>
  </div>
</header>
