@let nameControl = form.controls.name;
@let currentPasswordControl = form.controls.currentPassword;
@let newPasswordControl = form.controls.newPassword;
@let newPasswordConfirmationControl = form.controls.newPasswordConfirmation;
<form [formGroup]="form" tuiCardLarge tuiForm="m" class="form" [style.max-width.rem]="48" (submit)="onSubmit($event)">
  <tui-textfield>
    <label tuiLabel for="name">{{ 'register.form.labels.name' | transloco }}</label>
    <input [formControl]="nameControl" placeholder="aboba" tuiInput id="name" />
  </tui-textfield>

  @let nameControlErrors = nameControl.errors;
  @if (nameControl.touched && nameControl.invalid) {
    @if (nameControlErrors?.['required']) {
      <tui-error [error]="validationErrors.required | transloco" />
    } @else if (nameControlErrors?.['maxlength']; as maxlength) {
      <tui-error [error]="validationErrors.maxLength | transloco: maxlength" />
    }
  }

  <tui-textfield iconStart="@tui.lock">
    <label tuiLabel for="password">{{ 'profile.form.labels.password' | transloco }}</label>
    <input id="password" [formControl]="currentPasswordControl" placeholder="Aa888888" tuiInput type="password" />
    <tui-icon tuiPassword />
  </tui-textfield>
  @let passwordControlErrors = currentPasswordControl.errors;
  @if (currentPasswordControl.touched && currentPasswordControl.invalid) {
    @if (passwordControlErrors?.['required']) {
      <tui-error [error]="validationErrors.required | transloco" />
    } @else if (passwordControlErrors?.['maxlength']; as maxlengthError) {
      <tui-error [error]="validationErrors.maxLength | transloco: maxlengthError" />
    } @else if (passwordControlErrors?.['minlength']; as minlengthError) {
      <tui-error [error]="validationErrors.minLength | transloco: minlengthError" />
    } @else if (passwordControlErrors?.['pattern']) {
      <tui-error [error]="validationErrors.passwordPattern | transloco: passwordHints" />
    }
  }
  <tui-textfield iconStart="@tui.lock">
    <label tuiLabel for="newPassword">{{ 'profile.form.labels.new_password' | transloco }}</label>
    <input id="newPassword" [formControl]="newPasswordControl" placeholder="Aa888888" tuiInput type="password" />
    <tui-icon tuiPassword />
  </tui-textfield>
  @let newPasswordControlErrors = newPasswordControl.errors;
  @if (newPasswordControl.touched && newPasswordControl.invalid) {
    @if (newPasswordControlErrors?.['required']) {
      <tui-error [error]="validationErrors.required | transloco" />
    } @else if (newPasswordControlErrors?.['maxlength']; as maxlengthError) {
      <tui-error [error]="validationErrors.maxLength | transloco: maxlengthError" />
    } @else if (newPasswordControlErrors?.['minlength']; as minlengthError) {
      <tui-error [error]="validationErrors.minLength | transloco: minlengthError" />
    } @else if (newPasswordControlErrors?.['pattern']) {
      <tui-error [error]="validationErrors.passwordPattern | transloco: passwordHints" />
    }
  }
  <tui-textfield iconStart="@tui.lock">
    <label tuiLabel for="newPasswordConfirmation">{{
      'profile.form.labels.new_password_confirmation' | transloco
    }}</label>
    <input
      id="newPasswordConfirmation"
      [formControl]="newPasswordConfirmationControl"
      placeholder="Aa888888"
      tuiInput
      type="password"
    />
    <tui-icon tuiPassword />
  </tui-textfield>
  @let passwordConfirmationControlErrors = newPasswordConfirmationControl.errors;
  @if (newPasswordConfirmationControl.touched && newPasswordConfirmationControl.invalid) {
    @if (passwordConfirmationControlErrors?.['required']) {
      <tui-error [error]="validationErrors.required | transloco" />
    } @else if (passwordConfirmationControlErrors?.['maxlength']; as maxlengthError) {
      <tui-error [error]="validationErrors.maxLength | transloco: maxlengthError" />
    } @else if (passwordConfirmationControlErrors?.['minlength']; as minlengthError) {
      <tui-error [error]="validationErrors.minLength | transloco: minlengthError" />
    } @else if (passwordConfirmationControlErrors?.['pattern']) {
      <tui-error [error]="validationErrors.passwordPattern | transloco: passwordHints" />
    } @else if (passwordConfirmationControlErrors?.['confirmPasswordError']; as confirmPasswordError) {
      <tui-error [error]="confirmPasswordError | transloco" />
    }
  }

  <footer class="footer">
    <button tuiButton type="submit" [disabled]="form.invalid || isLoading()">
      @if (isLoading()) {
        <tui-loader />
      } @else {
        {{ 'profile.actions.submit' | transloco }}
      }
    </button>

    <span class="divider"></span>

    <a routerLink="/login" class="link">{{ 'navigation-items.login' | transloco }}</a>
  </footer>
</form>
