@let machineSpiritState = isSpiritPleased() | machineSpiritState;
<header tuiHeader="h2" class="header-shell">
  <div class="header-box">
    <hgroup tuiTitle class="header-brand">
      <h2 class="header-title">
        <a routerLink="/">{{ 'header.title' | transloco }}</a>
      </h2>
      <p tuiSubtitle class="header-subtitle">
        {{ 'header.subtitle' | transloco: { machineSpiritState } }}
      </p>
    </hgroup>

    <div class="header-actions">
      <div class="header-actions-start">
        <button
          appearance="primary"
          class="header-action"
          size="s"
          tuiButton
          type="button"
          (click)="themeChanged.emit()"
        >
          <tui-icon icon="@tui.moon" />
        </button>
        <ngKitty-language-switcher />
      </div>

      <div class="header-actions-end">
        <ng-content />
      </div>
    </div>
  </div>
</header>
