<header tuiHeader="h2" appearance="primary">
  <div class="header-box">
    <div class="theme-button">
      <button appearance="primary" size="s" tuiButton type="button" [style.border-radius.%]="100">
        <tui-icon icon="@tui.moon" />
      </button>
    </div>
    <hgroup tuiTitle>
      <h2 class="header-title">
        {{ 'header.title' | transloco }}
      </h2>
      <p tuiSubtitle class="header-subtitle">
        {{ 'header.subtitle' | transloco }}
      </p>
    </hgroup>
    <div class="header-buttons">
      <ngKitty-language-switcher />
    </div>
  </div>
</header>
 