<footer class="footer">
  <a href="https://github.com/ngKittyDebug/angular-ngKittyDebugRight" target="_blank" rel="noopener noreferrer">
    [ {{ 'footer.repository' | transloco }} ]
  </a>

  <div class="content">
    <span class="prompt"><</span>
    <span class="text"> {{ 'footer.text' | transloco }} </span>
    <span class="prompt">></span>
  </div>

  <div class="authors">
    <a href="https://github.com/dashque" target="_blank" rel="noopener noreferrer">{{ 'footer.dasha' | transloco }}</a>

    <span class="divider">//</span>

    <a href="https://github.com/alena1409" target="_blank" rel="noopener noreferrer">{{
      'footer.alena' | transloco
    }}</a>

    <span class="divider">//</span>

    <a href="https://github.com/kozochkina82" target="_blank" rel="noopener noreferrer">{{
      'footer.nadya' | transloco
    }}</a>
  </div>
</footer>
