<footer class="footer" *transloco="let t">
  <a href="https://github.com/ngKittyDebug/angular-ngKittyDebugRight" target="_blank" rel="noopener noreferrer">
    [ {{ t('footer.repository') }} ]
  </a>

  <div class="content">
    <span class="prompt"><</span>
    <span class="text"> {{ t('footer.text') }} </span>
    <span class="prompt">></span>
  </div>

  <div class="authors">
    <a href="https://github.com/dashque" target="_blank" rel="noopener noreferrer">{{ t('footer.dasha') }}</a>

    <span class="divider">//</span>

    <a href="https://github.com/alena1409" target="_blank" rel="noopener noreferrer">{{ t('footer.alena') }}</a>

    <span class="divider">//</span>

    <a href="https://github.com/kozochkina82" target="_blank" rel="noopener noreferrer">{{ t('footer.nadya') }}</a>
  </div>
</footer>
