:host {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

  @media (width <= 485px) {
    padding: 0;
  }
}

.loading {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(15 15 15 / 35%);
  backdrop-filter: blur(6px);
  z-index: 9999;
}

.title {
  font-size: 1.2rem;
  text-align: center;

  @media (width <= 768px) {
    font-size: 0.9rem;
  }
}

.sins {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.divider {
  width: 100%;
  height: 2px;
  margin: 0;
  border: 0;
  background: linear-gradient(90deg, transparent, var(--accent-primary), transparent);
}
