<footer class="footer">
  <a href="https://github.com/ngKittyDebug/angular-ngKittyDebugRight" target="_blank" rel="noopener noreferrer">
    [ REPOSITORY ]
  </a>

  <div class="content">
    <span class="prompt"><</span>
    <span class="text"> made with paws, use at own risk </span>
    <span class="prompt">></span>
  </div>

  <div class="authors">
    <a href="https://github.com/dashque" target="_blank" rel="noopener noreferrer">Dasha</a>

    <span class="divider">//</span>

    <a href="https://github.com/alena1409" target="_blank" rel="noopener noreferrer">Alena</a>

    <span class="divider">//</span>

    <a href="https://github.com/kozochkina82" target="_blank" rel="noopener noreferrer">Nadya</a>
  </div>
</footer>
