<footer class="footer">
  <a href="#">GOTGUB</a>

  <div class="content">
    <span class="prompt"><</span>
    <span class="text"> made with paws, use at own risk </span>
    <span class="prompt">></span>
  </div>

  <div class="authors">
    <a href="https://github.com/dashque" target="_blank">Dasha</a>

    <span class="divider">//</span>

    <a href="https://github.com/alena1409" target="_blank">Alena</a>

    <span class="divider">//</span>

    <a href="https://github.com/kozochkina82" target="_blank">Nadya</a>
  </div>
</footer>
