<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="m"
  class="form"
  aria-labelledby="login-title"
  [style.max-width.rem]="32"
  [formGroup]="loginForm"
  (submit)="onSubmit()"
>
  <tui-textfield iconStart="@tui.mail">
    <label tuiLabel for="email">{{ 'login.email' | transloco }}</label>
    <input formControlName="email" placeholder="john@wick.com" tuiInput type="email" id="email" />
  </tui-textfield>
  <tui-error [error]="getInputError('email')" />

  <tui-textfield iconStart="@tui.lock">
    <label tuiLabel for="password">{{ 'login.password' | transloco }}</label>
    <input id="password" formControlName="password" placeholder="Aa88888" tuiInput />
    <tui-icon tuiPassword />
  </tui-textfield>
  <tui-error [error]="getInputError('password')" />

  <footer class="footer">
    <button tuiButton type="submit" [disabled]="loginForm.invalid">
      @if (isLoading()) {
        <tui-loader />
      } @else {
        {{ 'login.submit' | transloco }}
      }
    </button>

    <span class="divider"></span>

    <button appearance="secondary" tuiButton type="button" (click)="loginWithGoogle()">
      @if (isLoading()) {
        <tui-loader />
      } @else {
        {{ 'login.google' | transloco }}
      }
    </button>

    <button appearance="secondary" tuiButton type="button" (click)="loginWithGithub()">
      @if (isLoading()) {
        <tui-loader />
      } @else {
        {{ 'login.github' | transloco }}
      }
    </button>
    <button appearance="secondary" tuiButton type="button" (click)="logout()">logout</button>
    <a routerLink="/register" class="link">{{ 'login.register' | transloco }}</a>
  </footer>
</form>
