<tui-root tuiTheme="dark">
  <div>
    <div>
      <button tuiButton appearance="primary" iconStart="@tui.clock">primary</button>
      <button tuiButton appearance="secondary" iconStart="@tui.clock">secondary</button>
      <button tuiButton appearance="outline" class="outline-critical" size="xs" iconStart="@tui.clock">
        outline-critical
      </button>
      <button tuiButton appearance="outline" class="outline-high" size="xs">outline-high</button>
      <button tuiButton appearance="outline" class="outline-medium" size="xs">outline-medium</button>
      <button tuiButton appearance="outline" class="outline-light" size="xs">outline-light</button>
      <button tuiButton appearance="flat">flat</button>

      <router-outlet />
    </div>
  </div>
  <ngKitty-footer />
</tui-root>
