<aside class="sidebar" [class.sidebar-mobile-open]="isMobileOpen()">
  <section class="section">
    <p class="section-title">[ {{ 'sidebar.navigation' | transloco }} ]</p>
    <nav class="nav" id="sidebar-nav">
      @for (navigationItem of navigationItemList(); track navigationItem.label) {
        <ngKitty-navigation-item [item]="navigationItem" />
      }
    </nav>
  </section>

  <div class="content">
    <!--    TODO оставила для отладки-->
    @if (authService.isAuthenticated()) {
      {{ authService.user()?.email }}
      <button tuiButton (click)="authService.logout()">вышвырнуть из церкви</button>
    }
    <ng-content />
  </div>
</aside>
