<aside class="sidebar" [class.sidebar-mobile-open]="isMobileOpen()">
  <section class="section">
    <p class="section-title">[ {{ 'sidebar.navigation' | transloco }} ]</p>
    <nav class="nav" id="sidebar-nav">
      @for (navigationItem of navigationItemList(); track navigationItem.label) {
        <ngKitty-navigation-item [item]="navigationItem" />
      }
    </nav>
  </section>

  <div class="content">
    <ng-content />
  </div>
  <a class="profile-card" routerLink="/profile" routerLinkActive="active">
    <img src="assets/avatar.png" alt="avatar" width="50" />

    <div class="user-info">
      <div class="name">Techno Priest</div>
      <div class="role">Moskow</div>
    </div>
  </a>
</aside>
