<div class="profile">
  <section appearance="flat" tuiCardLarge class="user-info">
    <div tuiAvatar="@tui.user" size="l"></div>
    <h2 class="profile-title">RandomUser</h2>
    <span>location: Moscow</span>
  </section>
  <section class="user-section">
    <div class="section-title">
      <tui-icon icon="@tui.trending-up" />
      <h3>Statistics</h3>
    </div>
    <div class="section-container">
      <div class="stats-item">
        <span class="stats-value">0</span>
        <span class="stats-name">Confessions</span>
      </div>
      <div class="stats-item">
        <span class="stats-value">0</span>
        <span class="stats-name">Writings</span>
      </div>
      <div class="stats-item">
        <span class="stats-value">0.0</span>
        <span class="stats-name">Rate level</span>
      </div>
      <div class="stats-item">
        <span class="stats-value">0</span>
        <span class="stats-name">Days of activity</span>
      </div>
    </div>
  </section>
  <section class="user-section">
    <div class="section-title">
      <tui-icon icon="@tui.award" />
      <h3>Achievements</h3>
    </div>
    <div class="section-title">
      <span class="stats-name">Unblocked: 0 from 5</span>
    </div>
    <div class="divider"></div>
    <div class="achievements">
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/pray.svg" width="30" alt="pray" /></div>
        <div class="achieve-text">
          <h3>First confession</h3>
          <span class="stats-name">You confessed your first bug</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/open-book-svgrepo-com.svg" width="35" alt="book" /></div>
        <div class="achieve-text">
          <h3>Chronicist</h3>
          <span class="stats-name">7 daily writings to diary</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/happy.svg" width="30" alt="smile" /></div>
        <div class="achieve-text">
          <h3>Happy developer</h3>
          <span class="stats-name">The average mood rating is over 4</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/star.svg" width="35" alt="star" /></div>
        <div class="achieve-text">
          <h3>Regular visitor</h3>
          <span class="stats-name">Over 30 days of activity</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/crystal-ball.svg" width="35" alt="magic ball" /></div>
        <div class="achieve-text">
          <h3>Penitent</h3>
          <span class="stats-name">10 confessions</span>
        </div>
      </div>
    </div>
  </section>
  <section class="user-section">
    <div class="section-title">
      <tui-icon icon="@tui.sparkles" />
      <h3>Developer's Zodiac Sign</h3>
    </div>
    <div class="zodiac-text">
      <div class="section-title">
        <tui-icon icon="@tui.zodiac-aquarius" size="m" />
        <h2 class="zodiac-title">Aquarius</h2>
      </div>
      <p class="zodiac-description">Generator of unconventional solutions</p>
    </div>
  </section>
</div>
