:host {
  display: flex;
  gap: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: max-content !important;
}

.user-info span {
  margin: 0;
  padding: 0;
  color: var(--accent-primary);
}

.profile-title {
  margin: 0;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--tui-text-primary);
}

.user-section {
  border-radius: 1rem;
  border: 2px solid var(--accent-primary);
  padding: 1rem;
  width: 100%;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: var(--accent-primary);
  padding: 0.5rem 1rem;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--tui-status-warning-pale);
  border-radius: 1rem;
}

.stats-value {
  font-size: 3rem;
  font-weight: 600;
  color: var(--accent-primary-soft);
}

.stats-name {
  color: var(--tui-text-primary);
}
