<div class="profile">
  <section appearance="flat" tuiCardLarge class="user-info">
    <div tuiAvatar="@tui.user" size="l"></div>
    <h2 class="profile-title">Hello, RandomUser</h2>
    <span>location: Moscow</span>
  </section>
  <section class="user-section">
    <div class="section-title">
      <tui-icon icon="@tui.trending-up" />
      <h3>Statistics</h3>
    </div>
    <div class="section-container">
      <div class="stats-item">
        <span class="stats-value">0</span>
        <span class="stats-name">Confessions</span>
      </div>
      <div class="stats-item">
        <span class="stats-value">0</span>
        <span class="stats-name">Writings</span>
      </div>
      <div class="stats-item">
        <span class="stats-value">0.0</span>
        <span class="stats-name">Rate level</span>
      </div>
      <div class="stats-item">
        <span class="stats-value">0</span>
        <span class="stats-name">Days of activity</span>
      </div>
    </div>
  </section>
  <section class="user-section">
    <div class="section-title">
      <tui-icon icon="@tui.award" />
      <h3>Achievements</h3>
    </div>
    <div class="section-title">
      <span class="stats-name">Unblocked: 0 from 5</span>
    </div>
    <div class="divider"></div>
    <div class="achievements">
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/pray.svg" width="30" alt="pray" /></div>
        <div class="achieve-text">
          <h3>First confession</h3>
          <span class="stats-name">You confessed your first bug</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/pray.svg" width="30" alt="pray" /></div>
        <div class="achieve-text">
          <h3>First confession</h3>
          <span class="stats-name">You confessed your first bug</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/pray.svg" width="30" alt="pray" /></div>
        <div class="achieve-text">
          <h3>First confession</h3>
          <span class="stats-name">You confessed your first bug</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/pray.svg" width="30" alt="pray" /></div>
        <div class="achieve-text">
          <h3>First confession</h3>
          <span class="stats-name">You confessed your first bug</span>
        </div>
      </div>
      <div class="achieve-item">
        <div class="achieve-icon"><img src="./assets/pray.svg" width="30" alt="pray" /></div>
        <div class="achieve-text">
          <h3>First confession</h3>
          <span class="stats-name">You confessed your first bug</span>
        </div>
      </div>
    </div>
  </section>
  <section class="user-section"></section>
</div>
