<header tuiHeader="h2" appearance="primary">
  <div class="header-box">
    <section tuiCardLarge="normal" class="user-card">
      <tui-avatar-stack direction="start">
        <div size="s" tuiAvatar="@tui.user" [style.background]="url | tuiAutoColor">
          <img alt="avatar" [src]="url" />
        </div>
      </tui-avatar-stack>
      <hgroup tuiTitle class="header-content">
        <h3 class="user-name">kozochkina82</h3>
        <p>location: Podgorica</p>
        <p>online: 35 min</p>
      </hgroup>
      <button tuiButton size="s">exit</button>
    </section>
    <hgroup tuiTitle>
      <h2 class="header-title">
        {{ title }}
      </h2>
      <p tuiSubtitle class="header-subtitle">
        {{ subtitle }}
      </p>
    </hgroup>
    <div class="header-buttons">
      <button appearance="primary" size="s" tuiButton type="button">
        <tui-icon icon="@tui.languages" />
        ru
      </button>
      <button
        appearance="primary"
        iconStart="@tui.moon"
        size="s"
        tuiIconButton
        type="button"
        [style.border-radius.%]="100"
      >
        dark
      </button>
    </div>
  </div>
</header>
